<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?s=/$1 [QSA,PT,L]
Redirect 301 /66mel http://www.66mel.com

</IfModule>
