{include file="public/header" /}

<body class="gray-bg">
    <div class="form-group" style="width: 200px; background-color: gray;">
        <div class="input-group">
            <div class="input-group-addon" >班级</div>
            <select id="getClass" class="select2-search__field form-control" name="class">
            </select>
        </div>
    </div>
    <div class="text-left">
        <h1 class="text-center">
            课程表
        </h1>
        <h2>
            {if !empty($class)}
                {$class}
            {/if}
        </h2>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" name="timetable">
    <div class="ibox float-e-margins">
        <div class="example-wrap">
            <div class="example">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr class="long-tr">
                        <th colspan="2" ></th>
                        <th colspan="2">星期一</th>
                        <th colspan="2">星期二</th>
                        <th colspan="2">星期三</th>
                        <th colspan="2">星期四</th>
                        <th colspan="2">星期五</th>
                        <th colspan="2">星期六</th>
                        <th colspan="2">星期日</th>
                    </tr>
                    </thead>
                    <tbody id="timetables">
                        <tr>
                            <td rowspan="2" width="20px">上午</td>
                            <td >第12节</td>
                            {if !empty($list)}
                                {foreach name="list[1]" item="vo"}
                                    {if !empty($vo)}
                                        <td>
                                            {$vo.room}<br/>
                                            {$vo.cname}
                                            <div style="display: none" name="time">{$vo.week . " " . $vo.num}</div>
                                        </td>
                                        <td class="text-left" style="width: 50px">
                                            <button type="button" name="edit" class="btn btn-warning"  value="1">修改</button>
                                            <button type="button" name="delete" class="btn btn-danger">删除</button>
                                        </td>
                                    {/if}
                                    {if empty($vo)}
                                        <td colspan="2"></td>
                                    {/if}
                                {/foreach}
                            {/if}
                            {if empty($list)}
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            {/if}
                        </tr>
                        <tr>
                            <td width="20px" class="">第34节</td>
                            {if !empty($list)}
                                {foreach name="list[2]" item="vo"}
                                    {if !empty($vo)}
                                        <td>
                                            {$vo.room}<br/>
                                            {$vo.cname}
                                            <div style="display: none" name="time">{$vo.week . " " . $vo.num}</div>
                                        </td>
                                        <td class="text-right" style="width: 50px">
                                            <button type="button" name="edit" class="btn btn-warning">修改</button>
                                            <button type="button" name="delete" class="btn btn-danger">删除</button>
                                        </td>
                                    {/if}
                                    {if empty($vo)}
                                        <td colspan="2"></td>
                                    {/if}
                                {/foreach}
                            {/if}
                            {if empty($list)}
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            {/if}
                        </tr>
                        <tr>
                            <td rowspan="2" width="20px">下午</td>
                            <td >第56节</td>
                            {if !empty($list)}
                                {foreach name="list[3]" item="vo"}
                                    {if !empty($vo)}
                                        <td>
                                            {$vo.room}<br/>
                                            {$vo.cname}
                                            <div style="display: none" name="time">{$vo.week . " " . $vo.num}</div>
                                        </td>
                                        <td class="text-right" style="width: 50px">
                                            <button type="button" name="edit" class="btn btn-warning">修改</button>
                                            <button type="button" name="delete" class="btn btn-danger">删除</button>
                                        </td>
                                    {/if}
                                    {if empty($vo)}
                                        <td colspan="2"></td>
                                    {/if}
                                {/foreach}
                            {/if}
                            {if empty($list)}
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            {/if}
                        </tr>
                        <tr>
                            <td width="20px" class="">第78节</td>
                            {if !empty($list)}
                                {foreach name="list[4]" item="vo"}
                                    {if !empty($vo)}
                                        <td>
                                            {$vo.room}<br/>
                                            {$vo.cname}
                                            <div style="display: none" name="time">{$vo.week . " " . $vo.num}</div>
                                        </td>
                                        <td class="text-right" style="width: 50px">
                                            <button type="button" name="edit" class="btn btn-warning">修改</button>
                                            <button type="button" name="delete" class="btn btn-danger">删除</button>
                                        </td>
                                    {/if}
                                    {if empty($vo)}
                                        <td colspan="2"></td>
                                    {/if}
                                {/foreach}
                            {/if}
                            {if empty($list)}
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            {/if}
                        </tr>
                        <tr>
                            <td colspan="2">晚上</td>
                            {if !empty($list)}
                                {foreach name="list[5]" item="vo"}
                                    {if !empty($vo)}
                                        <td>
                                            {$vo.room}<br/>
                                            {$vo.cname}
                                            <div style="display: none" name="time">{$vo.week . " " . $vo.num}</div>
                                        </td>
                                        <td class="text-right" style="width: 50px">
                                            <button type="button" name="edit" class="btn btn-warning">修改</button>
                                            <button type="button" name="delete" class="btn btn-danger">删除</button>
                                        </td>
                                    {/if}
                                    {if empty($vo)}
                                        <td colspan="2"></td>
                                    {/if}
                                {/foreach}
                            {/if}
                            {if empty($list)}
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            {/if}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

{include file="public/footer" /}

<script type="text/javascript">

    $(function () {
        toastr.options.positionClass = 'toast-bottom-center';

        $('#getClass').select2({
            multiple: false,
            placeholder: '选择班级',
            tags: true,
            ajax: {
                url: '{:url("student/getClass")}',
                dataType: 'json',
                delay: 50,
                data: function (item) {
                    return item
                },
                processResults: function (data, page) {
                    return {
                        results: data
                    }
                },
                cache: true
            },
            minimumInputLength: 0,
            templateResult: function(item){ return '<span style="font-size:8px">' + item .text + '</span>'},
            templateSelection: function(item) { return item.text },
            escapeMarkup: function (markup) { return markup;},
        });

        $('#getClass').change(function () {
            var Class = $(this).val();
            var text = $(this).text();
            $.ajax({
                url: '{:url("student/index")}',
                type: 'get',
                dataType: 'json',
                data: {
                    class: Class,
                },
                success: function(data) {
                    $('body').html(data);
                }
            });
        });

        //修改按钮
        $("[name='edit']").click( function (){
            var time = $(this).parent().prev().find("[name='time']").text();//格式：星期 节数
            var url = '{:url("student/editView")}' + "?time=" + time;

            layer.open({
                type:2,
                area:['600px','350px'],
                title:'修改课程',
                shade:0.6,
                anim:2,
                btn: ['确定', '取消'],
                content:url,
                yes : function(index, layero) {
                    var data = $(layero).find("iframe")[0].contentWindow.getData();
                    console.log(data);
                    function error(code){
                        $(layero).find("iframe")[0].contentWindow.error(code);
                    } 
                    if (data['course'] && data['teacher'] && data['class'] && data['room']) {
                        $.ajax({
                            url: '{:url("student/edit")}',
                            type: 'post',
                            dataType: 'json',
                            asycn: 'true',
                            data: {
                                'time' : time,
                                'course': data['course'],
                                'teacher': data['teacher'],
                                'isDouble': data['isDouble'],
                                'class': data['class'],
                                'room': data['room'],
                            },
                            success: function(data) {
                                if (data.code < 0) {
                                    error(data);
                                } else {
                                    layer.close(index);
                                    toastr.success(data.message);
                                    console.log('{$class}');
                                    // setTimeout(function () {
                                    //     $.ajax({
                                    //         url: '{:url("student/index")}',
                                    //         type: 'get',
                                    //         dataType: 'json',
                                    //         data: {
                                    //             class: parseInt('{$class}'),
                                    //         },
                                    //         success: function(data) {
                                    //             $("body").html(data);
                                    //         }
                                    //     });
                                    // }, 500);
                                }
                            },
                            error: function(data) {
                                return data;
                            }
                        });
                    } else {
                        var error_data = new Array();
                        error_data['code'] = -1 ;
                        error_data['message'] = "请输入数据！";
                        error(error_data);
                    }

                },
                no : function (index, layero) {
                    layer.close(layero);
                }
            });

        });

        //删除按钮
        $("[name='delete']").click(function (){
            var time = $(this).parent().prev().find("[name='time']").text();
            $.ajax({
                url: '{:url("student/delete")}',
                type: 'post',
                dataType: 'json',
                data: {
                    'class': parseInt('{$class}'),
                    'time': time,
                },
                success: function(data) {
                    toastr.success(data.message);
                    setTimeout(function () {
                        $.ajax({
                            url: '{:url("student/index")}',
                            type: 'get',
                            dataType: 'json',
                            data: {
                                class: parseInt('{$class}'),
                                time: time,
                            },
                            success: function(data) {
                                $("body").html(data);
                            }
                        });
                    }, 500);
                },
                error: function(data){
                    toastr.error(data.code, data.message);
                }
            });
        })

    })

</script>

